<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574941869634-k1mr1ba6bgge58n2uukqcfm8q80o8bfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574941869634-k1mr1ba6bgge58n2uukqcfm8q80o8bfh</string>
	<key>API_KEY</key>
	<string>AIzaSyA5dJYwRGQtVOcfhz9dwAEoRA2VShVoT9c</string>
	<key>GCM_SENDER_ID</key>
	<string>574941869634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hura.asia</string>
	<key>PROJECT_ID</key>
	<string>hura-63b7b</string>
	<key>STORAGE_BUCKET</key>
	<string>hura-63b7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:574941869634:ios:4dc8298a73379ff3cf9fdb</string>
</dict>
</plist>
